html
    head
        title Rallly - Collaborative Scheduling
        base(href='/')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(property='og:title', content='Rallly')
        meta(property='og:description', content='Rallly is a free collaborative scheduling service that helps you and your friends decide on a date to host an event!')
        meta(property='og:image', content='https://pbs.twimg.com/profile_banners/2986438877/1423764183/1500x500')
        meta(property='description', content='Rallly is a free collaborative scheduling service that helps you and your friends decide on a date to host an event!')
        meta(property='keywords', content='rallly,schedule,collaborative,free,mobile')
        link(rel='apple-touch-icon', sizes='57x57', href='/images/favicon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/images/favicon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/images/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/images/favicon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/images/favicon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/images/favicon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/images/favicon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/images/favicon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/images/favicon/apple-touch-icon-180x180.png')
        link(rel='shortcut icon', href='/images/favicon/favicon.ico')
        link(rel='icon', type='image/png', href='/images/favicon/favicon-192x192.png', sizes='192x192')
        link(rel='icon', type='image/png', href='/images/favicon/favicon-160x160.png', sizes='160x160')
        link(rel='icon', type='image/png', href='/images/favicon/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='/images/favicon/favicon-16x16.png', sizes='16x16')
        link(rel='icon', type='image/png', href='/images/favicon/favicon-32x32.png', sizes='32x32')
            
        meta(name='msapplication-TileColor', content='#2b5797')
        meta(name='msapplication-TileImage', content='/images/favicon/mstile-144x144.png')
        meta(name='msapplication-config', content='/images/favicon/browserconfig.xml')
        block style
          link(rel='stylesheet', href='/css/style.css', media='screen', charset='utf-8')

        block scripts
  
    body
        block content
        script(type='text/javascript').
            (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
            for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
            mixpanel.init("a94ba7c8514d2d5e81c18f7dd2cdcbd8");

        script(type='text/javascript').
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-59795507-2', 'auto');
          ga('send', 'pageview');
